*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: roboto;
    /* font-family: gilroy-font; */
    /* font-weight: 800; */
}

/* @font-face{
    font-family: Gilroy-font;
    src: url(Gilroy-Fonts/Gilroy-Thin.ttf);
    
    
} */

body,html{
    width: 100%;
    height: 100%;
}

/* Main Dive */
.main{
    width: 100vw;
    margin: 0 auto;
    -webkit-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.43);
    -moz-box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.43);
     box-shadow: -1px 4px 23px 1px rgba(0,0,0,0.43);
     margin-bottom: 40px;
     padding-bottom: 20px;
}

/* Image */
.swiper{
    width: 100%;
    height: 300px;
}
.image{
    width: 100%;
    height: 90%;
    background-image: url(Images/ebook\ cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 10px 10px;
}

.video{
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 0 0 10px 10px;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    background: transparent;
    outline: 1px solid rgba(0, 0, 0, 0.651);
}

.swiper-pagination-clickable .swiper-pagination-bullet-active{
    background: rgba(0, 0, 0, 0.651);
}


/* Heading */
.content{
    padding: 0 25px;
}
.content h1{
    font-size: 25px;
    margin-top: 15px;
    font-weight: 700;
}

/* Feature-section*/
.feature-section{
    display: flex;
    justify-content: space-between;
}
.feature1,.feature2,.feature3{
    width: 30%;
    height: 60px;
    background-color: #f3e9b5a4;
    border: 1.5px solid #efc802;
    border-radius: 8px;
    text-align: center;
    /* padding-top: 5px; */
    margin-top: 20px;
    display: grid;
    place-content: center;
}

.feature1, h4{
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}
.feature2{
    background-color: #50e5ff45;
    border: 1.5px solid #3192a4fe;
}
.feature3{
    background-color: #2195f330;
    border: 1.5px solid #1d94e9;
}
.png-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.png-text h5{
    font-size: 10px;
    opacity: .7;
}

 /* About Section  */
 /* .about{
    margin-bottom: 200px;
    margin-top: 200px;
 } */

 .about h2,.about h3,.testimonial h2{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
 }
 .about p{
    line-height: 1.6;
    font-size: 15px;
 }

 /* Product Details */

 .about ul li{
    list-style-type: none;
    font-size: 14px;
    padding: 2px 0;
    font-weight: 400;
    opacity: .8;
   
 }
 
 /* Testimonial-Section */
 .testimonial-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .arrow{
    display: flex;
    /* justify-content: space-around; */
    gap: 15px;
 }
 .review1{
    border: 1px solid rgba(0, 0, 0, 0.353);
    border-radius: 10px;
    width: 60%;
    padding: 12px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
 }
 .profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    margin-bottom: 5px;
 }
 .profile h4{
    font-size: 16px;
    font-weight: 600;
    opacity: .9;
 }
 .review1 p{
    font-size: 13px;
    line-height: 1.5;
 }
 .review-cards{
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    /* border: 1px solid red; */
 }

 /* Footer-Section */

.footer{
    width: 100VW;
    /* height: 100px; */
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0%;
    padding: 10px 0;
    box-shadow: 0px -13px 28px 0px rgba(0,0,0,0.1);
    z-index: 1;
}
.download-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: black;
    padding: 6px 35px;
    border-radius: 10px;
    cursor: pointer;
}
.download-btn:hover{
    background-color: rgba(0, 0, 0, 0.736);
}
.price{
    padding: 6px 35px;
    border-radius: 10px;
    border: 1px solid black;
}
/* .arrow{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
} */
.price h5,.download-btn h5{
    font-size: 18px;
    font-weight: 400;
}


@media screen and (min-width:500px) {
    .main{
        width: 500px;
    }

    .footer{
        width: 500px;
    }
    
}